<a href="https://colab.research.google.com/github/qrNasr/python-Data-dtructure/blob/main/python_intro_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=12
b=13
if a>b:
  print("A is greater")
else:
  print("B is greater")

B is greater

In [ ]:
myList = ['pineapple', 'banana', 'watermelon', 'mango']

for element in myList:
    print(len(element))

9
6
10
5

In [11]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
A = [1,2,3,4,5]

for i in A:
  print(i)

1
2
3
4
5

In [13]:
A =["nasr","Omar","Mona","Shahd","Malak"]

for name in A:
  print(A)

['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']

In [15]:
A =["nasr","Omar","Mona","Shahd","Malak"]

for name in A:
  print(A)

['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']
['nasr', 'Omar', 'Mona', 'Shahd', 'Malak']

In [16]:
A =["nasr","Omar","Mona","Shahd","Malak"]

for name in A:
  print(len(A))

5
5
5
5
5